<div class="container">
  <div class="columns is-multiline">
    <div class="column is-12-mobile is-6-tablet is-4-desktop" *ngFor="let purchase of oPage?.content">
      <div class="card">
        <div class="card-header">
          <p class="font-semibold text-x1 my-3 ml-3">Código compra:</p>
          <p class="font-semibold text-x1 my-3 ml-3">{{purchase.num_bill}}</p>
        </div>

        <div class="card-content">
          <p class="text-lg mb-2">Fecha: {{purchase.date_purchase | date: 'dd/MM/yyyy' }}</p>
          <a [routerLink]="['/user', 'purchase', 'view', purchase.id]">Ver detalles de la compra</a>
        </div>
      </div>
    </div>
  </div>

  <div class="notification is-info" *ngIf="!oPage?.content || oPage?.content?.length === 0">
    No has hecho ninguna compra todavía. <a [routerLink]="['/user', 'product', 'plist']">Seguir comprando</a>
  </div>


  <div class="level is-justify-content-center mb-3">
    <p-paginator (onPageChange)="onPageChange($event)" [rows]="paginatorState.rows!" [totalRecords]="oPage?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
  </div>

</div>