<div class="flex flex-col min-h-screen">

  <main class="flex-grow">
    <!-- Tu contenido principal aquí -->
  </main>

  <footer class="bg-Gray text-KhakiTitulo py-4 shadow-xl">
    <div class="container mx-auto flex flex-col md:flex-row items-center justify-between">
      <div class="text-3xl font-extrabold tracking-tight mb-4 md:mb-0">
        Desde la Pluma a la Pantalla <!-- Cambia esto al texto deseado -->
      </div>

      <div class="md:flex space-x-4">
        <a class="text-KhakiTitulo hover:text-Moccasin font-semibold" href="#">
          Privacy Policy
        </a>
        <a class="text-KhakiTitulo hover:text-Moccasin font-semibold" href="#">
          Terms of Service
        </a>
        <a class="text-KhakiTitulo hover:text-Moccasin font-semibold" href="#">
          Contact Us
        </a>
      </div>
    </div>
  </footer>
</div>