<div class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <h5 class="title is-5">Purchase Detail</h5>
            <p> ID: {{oPurchase.id}}</p>
            <p> Usuario: {{oPurchase.user.name}} {{oPurchase.user.surname}}</p>
            <p> Fecha: {{oPurchase.date_purchase}}</p>
            <p> *ngIf="oPurchase.num_bill"> Factura: {{oPurchase.num_bill}}</p>
            <p> *ngIf="oPurchase.num_bill"> Fecha factura: {{oPurchase.date_bill}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>