<!-- Paginación -->
<p-paginator (onPageChange)="onPageChange($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
  [totalRecords]="oPage?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 30]" class="mx-2">
</p-paginator>

<div class="container">
  <div class="col-lg-2 col-md-12 d-none d-md-block">
    <h3 class="text-right">{{oPage?.numberOfElements}} de {{oPage?.totalElements}}</h3>
  </div>

  <table class="table is-fullwidth">
    <thead class="">
      <tr>
        <th class="has-text-centered">Usuario</th>
        <th class="has-text-centered">Nombre</th>
        <th class="has-text-centered">Email</th>
        <th class="has-text-centered">DNI</th>
        <th class="has-text-centered">Fecha nacimiento</th>
        <th class="has-text-centered">Ciudad</th>
        <th class="has-text-centered">Dirección</th>
        <th class="has-text-centered">Role</th>
        <th class="has-text-centered">Carritos</th>
        <th class="has-text-centered">Compras</th>
        <th class="has-text-centered">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of oPage?.content" class="">
        <td (click)="doView(user)"> {{ user.username }} </td>
        <td> {{ user.name }} {{ user.surname }} </td>
        <td> {{ user.email }} </td>
        <td> {{ user.dni }} </td>
        <td> {{ user.birth_date | date: 'dd-MM-yyyy' }} </td>
        <td> {{ user.city }} </td>
        <td> {{ user.address }} </td>
        <td> {{ user.role ? 'Admin' : 'User' }} </td>
        <td> {{ user.carts }} </td>
        <td> {{ user.purchases }} </td>
        <td class="has-text-centered">
          <a [routerLink]="['/admin', 'user', 'edit', user.id]"
            class="button is-small" title="Actualizar"> Actualizar
          </a>
          <button class="button is-small" (click)="doView(user)" title="Ver Detalles"> Ver
          </button>
          <button (click)="doRemove(user)" class="button is-small" title="Eliminar"> Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="notification" *ngIf="!oPage?.content || oPage?.content?.length === 0">
    <p>Don't have users.</p>
  </div>

  <p-confirmPopup></p-confirmPopup>
</div>