<div class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <h1 class="title is-4">Purchase Detail</h1>
            <p><strong>Id:</strong> {{ oPurchaseDetail.id }}</p>
            <p><strong>Product:</strong> {{ oPurchaseDetail.product }}</p>
            <p><strong>Cantidad:</strong> {{ oPurchaseDetail.amount }}</p>
            <p><strong>Price:</strong> {{ oPurchaseDetail.price }}</p>
            <p><strong>Purchase:</strong> {{ oPurchaseDetail.purchase }}</p>
          </div>
      </div>
    </div>
  </div>
</div>
