<div class="container">
  <div class="notification" *ngIf="oIdUser>0">
    Filtrando por usuario: {{oUser?.name}}
    <button class="delete" *ngIf="oIdUser>0" routerLink="['/admin', 'cart', 'plist']">Quitar filtro</button>
  </div>
  <div class="notification" *ngIf="oIdProduct>0">
    Filtrando por producto: {{oProduct?.name}}
    <button class="delete" *ngIf="oIdProduct>0" routerLink="['/admin', 'cart', 'plist']">Quitar filtro</button>
  </div>

  <div class="field">
    <label class="label">Ordenar por:</label>
    <div class="control">
      <div class="select">
        <select #selectEvent (change)="doOrder(selectEvent.value)">
          <option value="amount">Cantidad</option>
          <option value="user">Usuario</option>
          <option value="product">Producto</option>
        </select>
      </div>
    </div>
  </div>

  <!--Paginacióm-->
  <p-paginator class="flex items-center justify-center rounded" (onPageChange)="onPageChange($event)"
    [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!" [totalRecords]="oPage?.totalElements || 0"
    [rowsPerPageOptions]="[10, 20, 30]">
  </p-paginator>
</div>