<div class="flex items-center justify-center min-h-screen bg-slate">
  <div class="relative flex flex-col m-6 space-y-8 bg-Gray shadow-2xl rounded-2xl md:flex-row md:space-y-0">
    <div class="flex flex-col justify-center p-8 md:p-14">
      <span class="mb-3 text-4xl font-bold text-KhakiTitulo">Cerrar Sesión</span>
      <span class="text-Khaki mb-8 font-medium">
        ¿Estás seguro de que quieres cerrar sesión?
      </span>
      <div class="flex justify-center space-x-4">
        <button class="w-24 bg-KhakiBotones has-text-black font-bold p-2 rounded-lg hover:bg-Moccasin" (click)="logout()">Sí</button>
        <button class="w-24 bg-KhakiBotones has-text-black font-bold p-2 rounded-lg hover:bg-Khaki" (click)="cancel()">No</button>
      </div>
    </div>
  </div>
</div>