<div class="container">
  <div class="notification" *ngIf="oCategory_id>0">
    Filtrando por categoría: {{oCategory?.name}}
    <button class="delete" *ngIf="oCategory_id>0" [routerLink]="['/user', 'product', 'plist']">Quitar filtro</button>
  </div>

  <table class="table is-fullwidth">
    <thead class="">
      <tr>
        <th  class="has-text-centered">Imagen</th>
        <th  class="has-text-centered">Nombre</th>
        <th  class="has-text-centered">Precio</th>
        <th  class="has-text-centered">Categoría</th>
        <th  class="has-text-centered">Estado</th>
        <th  class="has-text-centered">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of oPage?.content">
        <td>
          <a [routerLink]="['/user', 'product', 'view', product.id]">
            <img src="{{product.image}}" alt="Producto">
          </a>
        </td>
        <td>
          <a [routerLink]="['/user', 'product', 'view', product.id]">
            {{product.name}}
          </a>
        </td>
        <td>{{product.price}} €</td>
        <td>{{product.category.name}}</td>
        <td  class="has-text-centered">
          <span *ngIf="product.stock > 0" class="stock-available">Producto disponible</span>
          <span *ngIf="product.stock == 0" class="stock-not-available">Producto no disponible</span>
        </td>
        <td  class="has-text-centered">
          <a class="card-footer-item" (click)="addToCart(product)">Añadir al carrito</a>
          <a class="card-footer-item" (click)="buyDirectly(product)">Comprar directamente</a>
        </td>
      </tr>
    </tbody>
  </table>
  

  <!-- Paginación -->
  <div class="flex-auto mx-auto">
    <p-paginator class="flex items-center justify-center rounded" (onPageChange)="onPageChange($event)"
      [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!" [totalRecords]="oPage?.totalElements || 0"
      [rowsPerPageOptions]="[10, 20, 30]">
    </p-paginator>
  </div>

</div>

<p-confirmPopup></p-confirmPopup>