<!-- Paginación -->
<p-paginator class="flex items-center justify-center rounded" (onPageChange)="onPageChange($event)"
  [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!" [totalRecords]="oPage?.totalElements || 0"
  [rowsPerPageOptions]="[10, 20, 30]">
</p-paginator>

<div class="container">
  <div class="relative flex items-center">
    <input type="text" [(ngModel)]="value" (ngModelChange)="onInputChange($event)"
      class="w-52 h-10 pl-10 border rounded-full focus:outline-none focus:border-cyan-900 text-cyan-900" />
    <i class="fas fa-search absolute left-3 text-cyan-900 cursor-pointer"></i>
  </div>
  <div class="col-lg-2 col-md-12 d-none d-md-block">
    <h3 class="text-right">{{oPage?.numberOfElements}} de {{oPage?.totalElements}}</h3>
  </div>

  <table class="table is-fullwidth">
    <thead class="">
      <tr>
        <th class="has-text-centered">Name</th>
        <th class="has-text-centered">Price</th>
        <th class="has-text-centered">Stock</th>
        <th class="has-text-centered">Image</th>
        <th class="has-text-centered">Categoria</th>
        <th class="has-text-centered">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of oPage?.content" class="">
        <td (click)="doView(product)"> <p> {{product.name}} </p> </td>
        <td> {{product.price + "€"}} </td>
        <td> {{product.stock}} </td>
        <td>
          <img [src]="product.image" alt="Imagen del producto" class="image is-64x64">
        </td>
        <td> {{ product.category ? product.category.name : 'N/A' }} </td>
        <td class="has-text-centered">
          <a [routerLink]="['/admin', 'product', 'edit', product.id]"
            class="button is-small" title="Actualizar">
          </a>
          <button class="button is-small" (click)="doView(product)" title="Ver Detalles">
          </button>
          <button (click)="doRemove(product)" class="button is-small" title="Eliminar">
          </button>
        </td>
      </tr>
    </tbody>
  </table>


  <div class="notification" *ngIf="!oPage?.content || oPage?.content?.length === 0">
    <p>Don't have products.</p>
  </div>

  <p-confirmPopup></p-confirmPopup>
</div>