<div class="container" *ngIf="oPage && oPage.content.length > 0">
  <table class="table is-fullwidth is-bordered">
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Coste total</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cart of oPage?.content">
        <td><img [src]="cart.product.image" alt="Imagen del producto" class="image is-64x640"></td>
        <td>{{ cart.product.name }}</td>
        <td> {{ cart.product }} </td>
        <td> {{ cart.product.price }} € </td>
        <td>
          <button class="button is-danger" (click)="updateAmount(cart, cart.amount - 1)">-</button>
          {{cart.amount}}
          <button class="button is-success" (click)="updateAmount(cart, cart.amount + 1)">+</button>
        </td>
        <td> {{ oPriceIndividualMap.get(cart.id) }} €</td>
        <td>
          <button class="button" (click)="deleteFromCart(cart.id)">Eliminar</button>
          <button class="button" (click)="purchaseOneCart(cart.id)">Comprar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="columns  is-centered">
    <div class="column is-half">
      <div class="box">
        <h3 class="title is-4">Total</h3>
        <p> Coste total: {{ oTotalPrice }} €</p>
        <button class="button" (click)="oUser && deleteAllCarts(oUser.id)"> Vacíar el carrito </button>
        <button class="button" (click)="purchaseAllCarts()">Comprar</button>
      </div>
    </div>
  </div>

  <div class="columns is-centered">
    <div class="column is-half">
      <a class="button" [routerLink]="['/user', 'product', 'plist']" >Seguir comprando</a>
    </div>
  </div>

</div>

<div class="container" *ngIf="oPage && oPage.content.length === 0">
  <p> Todavía no has añadido nada a tu carrito.</p>
  <a class="button" [routerLink]="['/user', 'product', 'plist']">Seguir comprando</a>
</div>

<p-confirmPopup></p-confirmPopup>