<nav class="bg-Gray text-KhakiTitulo shadow-xl" role="navigation" aria-label="main navigation">
  <div class="flex items-center justify-between p-4">
    <a class="text-3xl font-extrabold text-KhakiTitulo hover:text-Moccasin" href="/home">
      Desde la Pluma a la Pantalla 
    </a>

    <button class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <div class="navbar-start">
      <ng-container *ngIf="username && userSession?.role==true">
        <a class="navbar-item" href="/admin/user/plist">
          Usuarios
        </a>
        <a class="navbar-item" href="/admin/product/plist">
          Productos
        </a>
        <a class="navbar-item" href="/admin/category/plist">
          Categorias
        </a>
      </ng-container>
      <ng-container *ngIf="username && userSession?.role==false">
        <a class="navbar-item" href="/user/product/plist">
          Productos
        </a>
        <a class="navbar-item" href="/user/category/plist">
          Categorias
        </a>
        <a class="navbar-item" href="/user/purchase/plist/{{ userSession?.id }}">
          Mis compras
        </a>
      </ng-container>
    </div>

    <div class="flex items-center">
      <ng-container *ngIf="username">
        <p class="text-KhakiTitulo font-semibold">
          {{ username }} 
        </p>
        <br>
        <div class="group relative" (click)="toggleLogoutMenu()">
          <a class="cursor-pointer text-KhakiTitulo font-semibold hover:text-Moccasin">
            <i class="fa-regular fa-circle-user"></i>
          </a>
          <div *ngIf="showLogoutMenu" (click)="closeLogoutMenu()"
            class="absolute right-0 mt-2 bg-Gray text-KhakiTitulo border rounded">
            <a class="block px-4 py-2 hover:bg-Silver hover:text-Moccasin font-semibold" href="#">
              <i class="pi pi-user mr-2"></i>
              Perfil
            </a>
            <a class="block px-4 py-2 hover:bg-Silver hover:text-Moccasin font-semibold" href="#">
              <i class="pi pi-cog mr-2"></i>
              Ajustes
            </a>
            <hr class="border-t my-2">
            <a class="block px-4 py-2 hover:bg-Silver hover:text-Moccasin font-semibold" href="/logout">
              <i class="pi pi-sign-out mr-2 ml-1"></i>
              Salir
            </a>
          </div>
        </div>
      </ng-container>

      <a class="ml-4 text-KhakiTitulo hover:text-Moccasin font-semibold" href="/login" *ngIf="!username">
        <i class="pi pi-sign-in mr-1"></i>
        Log In
      </a>
    </div>
  </div>
</nav>
