<nav class="bg-slate text-red shadow-x1" role="navigation" aria-label="main navigation">
  <div class="felx items-center justify-between p-4">
    <a class="text-3x1 font-extrabold tracking-tight" href="/home">
      Desde la Pluma a la Pantalla
    </a>

    <div class="hidden md:flex">
      <a class="hover:text-darkRed px-4 py-2 font-semibold" href="#">
        Users
      </a>
      <a class="hover:text-darkRed px-4 py-2 font-semibold" href="#">
        Products
      </a>
      <a class="hover:text-darkRed px-4 py-2 font-semibold" href="#">
        About
      </a>
    </div>

    <div class="flex items-center">
      <ng-container *ngIf="strUsername">
        <div class="group">
          <a class="cursor-pointer text-dark font-semibold">
            Welcome {{ strUsername }}
          </a>
          <div class="hidden group-hover:block absolute right-0 mt-2 bg-lightRed text-dark border rounded">
            <a class="block px-4 py-2" href="#">
              Profile
            </a>
            <a class="block px-4 py-2" href="#">
              Settings
            </a>
            <hr class="border-t mmy-2">
            <a class="block px-4 py-2" href="/logout">
              LogOut
            </a>
          </div>
        </div>
        <a class="ml-4 text-dark">
          <span class="icon">
            <i class="pi pi-shopping-cart"></i>
          </span>
        </a>
      </ng-container>
      <a class="ml-4 hover:text-dark text-#A62E2E font-semibold" href="/login" *ngIf="!strUsername">
        Login
      </a>
    </div>
  </div>
</nav>
