<!-- Paginación -->
<p-paginator (onPageChange)="onPageChange($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
  [totalRecords]="oPage?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 30]" class="mx-2">
</p-paginator>

<div class="table-container">
  <table class="table id-bordered is-hoverable is-fullwidth">
    <thead>
      <tr>
        <th (click)="doOrder('id')">ID</th>
        <th (click)="doOrder('name')">Nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of oPage?.content">
        <td>{{category.id}}</td>
        <td>{{category.name}}</td>
        <td>
          <button class="button is-link" (click)="selectCategory(category)">Seleccionar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
