@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

// Colores marrones
$KhakiTitulo: #411917;
$DarkKhaki: #672c2c;
$Khaki: #8b2f23;
$PaleGoldenrod: #884d4d;
$Moccasin: #f7896b;
$KhakiBotones: #bd5946;
// Colores grises
$Gainsboro: #DCDCDC;
$LightGray: #D3D3D3;
$Silver: #C0C0C0;
$DarkGray: #A9A9A9;
$Gray: #8a8a8a;
// Negro y blanco
$Black: #000000;
$White: #FFFFFF;

$Roig: #ff0000;

// Tipografia
$family-sans-serif: 'Nunito', sans-serif;
// Colores tabla
.table-color {
    background-color: $LightGray;
    color: $Roig;
}

.table-hover-color {
    background-color: $Roig;
    color: $Roig;
}

// Colores para letra y links
$link: $Moccasin;
// Colores botones
.button-color { 
    background-color: $KhakiBotones;
    color: $Black;
}

.button-hover-color { 
    background-color: $Moccasin;
    color: $Black;
}



/*! bulma.io v0.9.4 | MIT License | github.com/jgthms/bulma */
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/layout/_all.sass";

